@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    --primary-color: #e82574;
    --primary-color-dark: #bc1c5c;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white: #ffffff;
    --max-width: 1200px;
    

  
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}

section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--secondary);
}

/* header */

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
/* img {
    width: 150%;
    display: flex;
  } */
.header .logo img {
    max-width: 120px;
}

.header .logo i{
    color: var(--primary);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--primary);
}

.header .navbar .btn{
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover{
    color: var(--white);
}

#menu-btn{
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover{
    color: var(--primary);
}


input {
    display: none;
}
.container {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}
h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: Crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0% { width: 100px; }
    50% { width: 200px; }
    100% { width: 100px; }
}
.top-content {
    background-color: lightgrey;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}
h3 {
    height: 100%;
    background-color: rgb(117, 153, 167);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}
label {
    font-weight: 600;
    display: inline-block;
    height: 100%;
    font-size: 15px;
    color: rgb(245, 243, 243);
    margin: 0 10px;
    line-height: 60px;
    cursor: pointer;
    transition: cursor .5s;
    
}
label:hover {
    color: black;
}
.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.pic {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}
.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before {
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}
.pic:hover::after {
    height: 100%;
}
.pic:hover::before {
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~ .container .photo-gallery .Plate,
#check3:checked ~ .container .photo-gallery .Roots,
#check4:checked ~ .container .photo-gallery .Chai,
#check5:checked ~ .container .photo-gallery .Postcard,
#check6:checked ~ .container .photo-gallery .Book,
#check7:checked ~ .container .photo-gallery .Sky,
#check8:checked ~ .container .photo-gallery .Mithai {
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check2:checked ~ .container .photo-gallery .pic:not(.Plate),
#check3:checked ~ .container .photo-gallery .pic:not(.Roots),
#check4:checked ~ .container .photo-gallery .pic:not(.Chai),
#check5:checked ~ .container .photo-gallery .pic:not(.Postcard),
#check6:checked ~ .container .photo-gallery .pic:not(.Book),
#check7:checked ~ .container .photo-gallery .pic:not(.Sky),
#check8:checked ~ .container .photo-gallery .pic:not(.Mithai) {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

